<div class="container-fluid" ng-controller="AuthController as auth">
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      <form novalidate>
        <div class="form-group row">
          <h1 class="col-sm-12">{{auth.state}}</h1>
        </div>
        <div class="form-group row">
          <label for="inputEmail" class="col-sm-3 col-form-label">E-mail</label>
          <div class="col-sm-9">
            <input ng-model="auth.creds.email" type="email" class="form-control" id="inputEmail" placeholder="Email">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
          <div class="col-sm-9">
            <input ng-model="auth.creds.password" type="password" class="form-control" id="inputPassword" placeholder="Password">
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-2 col-sm-10">
            <button ng-disabled="!(auth.creds.password && auth.creds.email)" ng-click="auth.action()" type="submit" class="btn btn-success">{{auth.state}}</button>
          </div>
        </div>
        <div class="form-group has-error row" ng-show="auth.error">
          <div class="offset-sm-2 col-sm-10">
            <label class="control-label">{{auth.error}}</label>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-4">

    </div>

  </div>
</div>
