<div class="sch-b-content--default">
  <h1>Talks</h1>
  <% for (talk of data) {%>
    Talk name: <a href="/event/<%= talk.id%>"><%= talk.name %></a><br>
    Start date and time: <%= talk.startDate %><br>
    End date and time: <%= talk.endDate%>
    <br><br>
  <%}%>
 </div>
