<div class="sch-b-content--default">
  <h1>Talk speakers</h1>

  <div class="sch-b_name-value-table">

    <% for (speaker of data[0].speakers) { %>
    <!-- -->
    <div class="table-item">
      <div class="item-name">
        <%= speaker.name %>
      </div>
      <div class="item-value">
        <%= speaker.email %>
      </div>
    </div>
    <!-- -->
    <%}%>
  </div>
</div>
