<div class="sch-b-content--default">
  <h1>You are not allowed here</h1>

  <div class="sch-b_message e403">
    <% if (typeof data !== 'undefined') { %>
    <%= data %>
    <% } else { %>
    <p>You don't have permission to see the page you're trying to reach.</p>
    <% } %>
  </div>

  <div class="sch-b_content-link-blocks">
    <a class="sch-e_content-link-block" href="/">Return to main</a>
  </div>
</div>

