<div class="sch-b-content--default">
  <h1>Page not found</h1>

  <div class="sch-b_message e404">
    <% if (typeof data!== 'undefined') { %>
    <%= data %>
    <% } else { %>
    <p>The page you were trying to reach doesn't exist.</p>
    <% } %>
  </div>

  <div class="sch-b_content-link-blocks">
    <a class="sch-e_content-link-block" href="/">Return to main</a>
  </div>
</div>

