<div class="sch-b-content--default">
  <h1>Internal Server Error</h1>

  <div class="sch-b_message error">
    <% if (typeof data !== 'undefined') { %>
    <pre class="error"><code>
          <%- data %>
        </code></pre>
    <% } else { %>
    <p class="error">
      A team of highly trained sea bass is working on this as we speak.<br>
      If the problem persists, please <a href="mailto://dmit8815@gmail.com">contact the system administrator</a> and inform them       of the time that the error occured, and anything you might have done that may have caused the error.
    </p>
    <% } %>
  </div>

  <div class="sch-b_content-link-blocks">
    <a class="sch-e_content-link-block" href="/">Return to main</a>
  </div>
</div>
