<div class="sch-b-content--default">
  <h1>Scheduler homepage</h1>
  <h2>
      links
  </h2>
  <ul>
    <li><a href="/login">/login</a></li>
    <li><a href="/signup">/signup</a></li>
    <li><a href="/logout">/logout</a></li>
    <li><a href="/user">/user</a></li>
    <li><a href="/event">/event</a></li>
    <li><a href="/event/create">/event/create</a></li>
    <li><a href="/talk">/talk</a></li>
    <li><a href="/talk/create">/talk/create</a></li>
  </ul>
</div>
