<!DOCTYPE html>
<html>
  <head>
    <title>Scheduler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/styles/importer.css">
    <script src="/js/dependencies/sails.io.js"></script>
  </head>

  <body class="sch-r">

  <%- body %>

  </body>
</html>
