
<div class="sch-b_content-centered">
  <div class="sch-b_account-actions-form">
    <h1 class="sch-e_block-header">Signup</h1>
    <form class="sch-b_form" method="POST" action="/signup">
      <div class="form-field">
        <label for="email">E-mail</label>
        <input class="sch-e_input-text" id="email" data-field-type="email" type="text" name="email">
      </div>
      <div class="form-field">
        <label for="password">Password</label>
        <input class="sch-e_input-text" id="password" data-field-type="text-all" type="password" name="password">
      </div>
      <div class="form-actions">
        <input class="sch-e_green-button" type="submit" value="signup">
      </div>
    </form>

  </div>
</div>
