<%var messageData = typeof message!=='undefined'?message:data.message %>
<div class="sch-b-content--default">
  <h1><%= messageData.name %></h1>

  <div class="sch-b_message <%= messageData.type||'' %>">
    <%- messageData.content %>
    <form class="sch-b_form-warning" method="post">
      <input type="hidden" name="continue" value="true">

      <input class="sch-e_green-button" type="submit" value="Continue">
      <a href="../" class="sch-e_green-button">Back</a>
    </form>
  </div>


</div>
