@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,700&subset=latin-ext');
* {
  font-family: 'Source Sans Pro', sans-serif;
}
html {
  background: #fffbf5;
  font-size: 100%;
}
@primary-color: #EBA869;
@primary-color-light: #FFDBB9;
@primary-color-lightest: #FFF8F1;
@secondary-color: #EBC369;
@secondary-color-light: #FFE9B9;
@secondary-color-lightest: #FFE9B9;
@links-color: #51639F;
@links-color-light: #C1CFFF;
@links-color-lightest: #F3F5FF;
@buttons-color: #438491;
@buttons-color-light: #BAF4FF;
@buttons-color-lightest: #F1FDFF;
@color-gray: #505050;
@color-gray-light: #828282;
@color-gray-lightest: #eeeeee;
@text-color: #404040;

body {
  margin: 0;
}
code {
  background: @color-gray;
  display: block;
  color: @buttons-color-lightest;
  font-family: monospace;
}
.sch-r {
  //max-width: 160vmin;
  min-height: 100vh;
  margin: 0 auto;
  background: #fff;
  display: flex;
  flex-direction: column;
}

// BLOCKS

.sch-b_header {
  display: flex;
  flex-direction: row;
  background: @primary-color;
  color: @color-gray;
  height: 4vmax;
  min-height: 7vh;
}
.sch-b_main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.sch-b_footer {
  display: flex;
}
.sch-b_logo {
  background: url(/templates/sh-logo.svg) no-repeat 50% 50%;
  width: 13vmax;
  min-width: 13vw;
  display: flex;
  background-size: auto 100%;
  margin: 0 1vmin;
  a {
    display: flex;
    width: 100%;
    height: 100%;
  }
}
.sch-b_content-centered {
  background: url("../templates/sh-bg.jpg") repeat-y 50% 50%;
  background-size: 100% auto;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
.sch-b_account-actions-form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  background: @color-gray-lightest;
  color: @text-color;
}
.sch-b_menu {
  display: flex;
  flex-grow: 1;
}
.sch-b_auth-block {
  display: flex;
  font-size: 1.3rem;
}
.sch-b_form {
  display: flex;
  flex-direction: column;
  .form-field {
    display: flex;
    flex-direction: column;
    label {
      display: flex;
    }
    input {
      display: flex;
    }
  }
  .form-actions {
    display: flex;
  }
}
.sch-b_user-menu {
  display: flex;
  align-items: center;
  .user-menu--user-link {
    display: flex;
    padding: 0 1vmax;
    a {
      color: #fff;
      text-decoration: none;
    }
  }
}
.sch-b-content--default {
  padding: 10vmin;
}
.sch-b_name-value-table {
  background: #eee;
  padding: 0 5vmin;
  display: flex;
  flex-direction: column;
  .table-item {
    display: flex;
    font-size: 1.2rem;
    flex-direction: row;
    padding: 5vmin 0;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    .item-name {
      display: flex;
      font-weight: bold;
    }
    .item-value {
      display: flex;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}
.sch-b_user-profile {
  width: 100%;
  max-width: 50vmax;
}
.sch-b_content-link-blocks {
  margin: 5vmin 0;
}
.sch-b_form-warning {
  display: flex;
  .sch-e_green-button {
    margin-right: 1em;
    margin-top: 1em;
  }
}
.sch-b_error-container {
  margin-top: 15px;
  color: #ff0000;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
}

// ELEMENTS

.sch-e_input-text, .sch-e_input-password {
  margin: 1em 0;
  outline: none;
  border: 1px solid #ccc;
  padding: 0.5em;
  &.autoform-invalid {
    border-color: #FF0000;
    background: rgba(255,0,0,0.2);
  }
}
.sch-e_login-link, .sch-e_signup-link {
  display: flex;
  a {
    color: #fff;
    text-decoration: none;
    display: flex;
    padding: 0 3vmin;
    align-items: center;
    cursor: pointer;
    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }
}
.sch-e_block-header {
  display: flex;
  margin: 0;
  margin-bottom: 4vh;
  font-size: 2em;
}
.sch-e_green-button {
  display: flex;
  background: @buttons-color;
  color: #fff;
  outline: none;
  text-decoration: none;
  border: none;
  font-size: 1.4em;
  padding: 0.3em 1em;
  &:not([disabled]) {
    &:hover {
      background: desaturate(@buttons-color, 30%);
      cursor: pointer;
    }
  }
  &[disabled] {
    background: #cccccc;
  }
}
.sch-e_content-link-block {
  background: #aaa;
  display: inline-block;
  color: #fff;
  padding: 1vmin 3vmin;
  text-decoration: none;
  margin-right: 3vmin;
  cursor: pointer;
  &:hover {
    background: #5D5D5D;
  }
}
.sch-e_taglink {
  background: @links-color;
  color: #FFF;
  padding: 0.2rem 0.7rem;
  font-size: inherit;
  display: inline-block;
  vertical-align: top;
  margin: 0.3rem 1rem;
  text-decoration: none;
  &:hover {
    background: @primary-color;
  }
}

// adaptive
@media screen and (orientation: portrait) {
  .sch-b_name-value-table {
    .table-item {
      flex-direction: column;
    }
  }
}
