<div ng-controller="CalendarController as calendarCtrl" class="container-fluid">
  <mwl-calendar
    ng-if="appCtrl.auth.isAuthenticated"
    view="calendarCtrl.view"
    view-date="calendarCtrl.date"
    events="calendarCtrl.events"
    view-title="calendarCtrl.title"
    on-event-click="calendarCtrl.eventClicked(calendarEvent)"
    on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
    cell-is-open="true">
  </mwl-calendar>
  <div ng-if="!appCtrl.auth.isAuthenticated">
    <h1>
      Welcome to Scheduler
    </h1>
    <p>
      Please login or register to see events calendar and manage them
    </p>
  </div>
</div>
