<div class="sch-b-content--default">
  <h1>Add User to event</h1>
  <form class="sch-b_form" method="post">
    <div class="form-field">
      <label for="userid">User ID</label>
      <input type="text" id="userid" name="userid" class="sch-e_input-text">
    </div>

    <div class="form-actions">
      <input type="submit" class="sch-e_green-button" value="Add user">
    </div>
  </form>
</div>
