<div class="sch-b-content--default">
  <h1>Event team</h1>

  <div class="sch-b_name-value-table">

    <% for (member of data) { %>
    <!-- -->
    <div class="table-item">
      <div class="item-name">
        <%= member.name %>
      </div>
      <div class="item-value">
        <%= member.email %>
      </div>
    </div>
    <!-- -->
    <%}%>
  </div>
</div>
