<div class="sch-b-content--default">
  <h1>Create Event</h1>
  <form class="sch-b_form" method="post">
    <div class="form-field">
      <label for="name">Event name</label>
      <input type="text" id="name" name="name" class="sch-e_input-text">
    </div>

    <div class="form-field">
      <label for="name">Start Date</label>
      <input type="date" id="date" name="start_date" class="sch-e_input-text">
    </div>

    <div class="form-field">
      <label for="name">End Date</label>
      <input type="date" id="date" name="end_date" class="sch-e_input-text">
    </div>

    <div class="form-actions">
      <input type="submit" class="sch-e_green-button" value="Create event">
    </div>
  </form>
</div>
