<div class="sch-b-content--default">
  <h1>Tracks</h1>
  <% for (track of data) {%>
    Track name: <a href="/event/<%= track.id%>"><%= track.name %></a><br>
    Start date: <%= track.startDate %><br>
    End date: <%= track.endDate%>
    <br><br>
  <%}%>
 </div>
